#sec-1{
    position: relative;
    width: 100%;
    height: 100vh;
}

#sec-1 img{
    width: 100%;

    position: absolute;
    z-index: -20;
}

#sec-1 h1{
    font-size: 9.6rem;
    margin-top: 300px;
    margin-left: 215px;
}

#sec-1 p{
    font-size: 6.4rem;
    margin-left: 215px;
}

.language{
    position: absolute;
    bottom: 70px;
    left: 80px;
    width: 48px;
    display: flex;
    flex-direction: column;
}

.language button{
    margin-bottom: 60px;    
    transform: rotate(90deg);
    
    font-size: 2.4rem;
    color: var(--white-color);
    background: none;
    border: none;

    transition: .8s;

    cursor: pointer;
}

.language button:hover{
    color: var(--blue-color);
}


/* Header style start */
header{
    height: 120px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.header-container{    
    width: 90.625%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-size: 3.6rem;
    font-weight: 700;
}

.menu{
    width: 410px;
    display: flex;
    justify-content: space-between;
}

.menu a{
    position: relative;
    font-size: 2.4rem;
    overflow: hidden;
}

.menu a::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: .1em;
    background: var(--blue-color);
    opacity: 1;
    transition: opacity .6s, transform .6s;
    transform: translate3d(-100%, 0, 0);
}

.menu a:hover::after,
.menu a:focus::after{
    transform: translate3d(0,0,0);
}
/* Header style end */