#sec-2{
    width: 72.9%;
    color: var(--black-color);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 150px 0 165px;
}

.sec-2-container{
    display: flex;
    flex-direction: row;
}

.sec-2-container img{
    margin-right: 120px;
}

.sec-2-container .about{
    display: flex;
    flex-direction: column;
}

.sec-2-container h3{
    font-size: 3.6rem;
    font-weight: 400;
    border-bottom: 5px solid var(--blue-color);
    width: fit-content;
    margin-bottom: 13px;
}

.sec-2-container h4{
    font-size: 3.6rem;
    font-weight: 400;
    margin-bottom: 40px;
    text-align: justify;
}

.sec-2-container .about > p{
    font-size: 2.4rem;
    font-weight: 400;
    text-align: justify;

    padding-bottom: 30px;
    margin-bottom: 40px;

    border-bottom: 1px solid rgba(47, 47, 47, .6);
}

.sec-2-container .data{
    display: flex;
    flex-wrap: wrap;
}

.sec-2-container .data p{
    width: 100%;
    display: flex;
    flex: 50%;

    font-size: 2.4rem;
    font-weight: 400;

    padding-bottom: 20px;

    border-bottom: none;
}