*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
    --dark-color: #2F2F2F;
    --white-color: #FFFFFF;
    --black-color: #000000;
    --blue-color: #3185FC;
    --blue-hover: #1361D0;
}

/* Smooth Scrolling for modern browsers  */

html {
	scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

/*  Smooth Scrolling */

body, html{
    font-family: 'Poppins', sans-serif;

    width: 100vw;
    height: 100vh;
}

a, 
a:active,
a:visited{
    color: var(--white-color);
    text-decoration: none;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;

    display: none;

}

/* Social media links */
.social{
    display: flex;
    flex-direction: column;

    position: fixed;
    right: 93px;
    bottom: 50px;

    z-index: 99;
    
}

.social i{
    margin-bottom: 25px;
    color: var(--white-color);
    font-size: 3.2rem;
    font-weight: 500;
    
    mix-blend-mode: difference;

    transition: .8s;
}

.social i:hover{
    color: var(--blue-color);
}
/* End of social media */

/* h6 titles style */
h6{
    width: 30%;
    font-size: 4.8rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 70px 0 100px
}
h6::before,
h6::after{
    content: '';
    flex: 1;
    border-bottom: 1px solid var(--black-color);
}
h6:not(:empty)::before{
    margin-right: .25rem;
}
h6:not(:empty)::after{
    margin-left: .25rem;
}