.showcase{
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    transition: 0.5s;
    z-index: 2;

    display: initial;
}

.showcase.active{
    right: 300px;
}

.showcase video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;

    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: overlay;
}

.text{
    position: relative;
    z-index: 10;
}

.text h2{
    font-size: 5rem;
    font-weight: 800;
    color: var(--white-color);
    line-height: 1em;
    text-transform: uppercase;
}

.text h3{
    font-size: 4rem;
    font-weight: 700;
    color: var(--white-color);
    text-transform: uppercase;
}

.text button{
    display: inline-block;

    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color: var(--white-color);
    text-transform: uppercase;

    background: var(--blue-color);
    padding: 10px 30px;
    
    border-radius: 30px;
    outline: none;
    border: none;
    transition: .6s;
    cursor: pointer;
}

.text button:hover{
    background: var(--blue-hover);
}

@media (max-width: 991px){
    .showcase,
    .showcase header
    {
        padding: 40px;
    }
    .text h2
    {
        font-size: 3em;
    }
    .text h3
    {
        font-size: 2em;
    }
}